 <div>
    <div class="jumbotron">
        <h1>Jobs Dashboard</h1>
        <p class="lead"> The project is to provide the jobseekers with a customizable dashboard to identify the real time job availabilities based on the categories like the domain, roles etc  across various job portals. </p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
            The project is to provide the jobseekers with a customizable dashboard to identify the real time job availabilities based on the categories like the domain, roles etc  across various job portals. The application would provide the stats and information in charts and graphs.
            </p>
            <p><a class="btn btn-default" href="https://docs.google.com/document/d/1It9eUVW28MWVXdSud3-rmm9Tej6ok4odjGXKbHSH2Pc/edit">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Background and analysis of the problem to be addressed </h2>
            <p>The problem to be addressed is to reduce the time spent by a job seeker in searching and tracking the required jobs.  As per the existing scenario, a job seeker performs the following to search for jobs,
            </p>
            <p><a class="btn btn-default" href="https://docs.google.com/document/d/1It9eUVW28MWVXdSud3-rmm9Tej6ok4odjGXKbHSH2Pc/edit">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Proposed Goal</h2>
            <p>The project is to develop a system, that extracts the job feeds from job portals’ apis on real time basis and feeds them to the database, and an application takes the information from the database and graphically represents the details of the jobs as per user’s customization.</p>
            <p><a class="btn btn-default" href="https://docs.google.com/document/d/1It9eUVW28MWVXdSud3-rmm9Tej6ok4odjGXKbHSH2Pc/edit">Learn more &raquo;</a></p>
        </div>
    </div>
</div>